---
layout: default
episodes:
  - title: Winter
    link: http://www.imdb.com/title/tt5447154/?ref_=ttep_ep1
  - title: Spring
    link: http://www.imdb.com/title/tt5447156/?ref_=tt_ep_nx
  - title: Summer
    link: http://www.imdb.com/title/tt5447538/?ref_=tt_ep_nx
  - title: Fall
    link: http://www.imdb.com/title/tt5447536/?ref_=tt_ep_nx
---

{% assign total_episodes = site.data.episodes | size %}{% assign total_days =
site.data.dates | size | plus: 0.0 %}{% assign per_day = total_episodes |
divided_by: total_days | ceil %}{% assign last_day = per_day | minus: 1 %}
<h1>{{total_days | ceil | plus: 1}}-day Gilmore Girls Series Binge</h1>
{% assign count = 0 %}{% for episode in site.data.episodes %}{% assign stop =
forloop.index0 | modulo: per_day %}{% if stop == 0 %}
<div class="day">
  <h2>
    {{site.data.dates[count] | date: "%A, %B %-d"}} |
    <span class="counter">Day {{count | plus: 1}}</span>
  </h2>

  <ol>
    {% assign count = count | plus: 1 %}{% endif %}
    <li>
      <input
        type="checkbox"
        name="episode"
        value="episode-{{episode.number}}"
        id="episode-{{episode.number}}"
      /><label for="episode-{{episode.number}}"
        ><a
          href="{{episode.link}}"
          title="Season {{episode.season}}, Episode {{episode.season_number}}"
          >{{episode.title}}</a
        ></label
      >
    </li>
    {% if stop == last_day %}
  </ol>
</div>
{% endif %}{% endfor %}
<div class="day final">
  <h2>Friday, November 25 | <span class="counter">Day 40</span></h2>
  <ol>
    {% for episode in page.episodes %}
    <li>
      <input
        type="checkbox"
        name="episode"
        value="episode-{{forloop.index | plus: total_episodes}}"
        id="episode-{{forloop.index | plus: total_episodes}}"
      /><label for="episode-{{forloop.index | plus: total_episodes}}"
        ><a href="{{episode.link}}">{{episode.title}}</a></label
      >
    </li>
    {% endfor %}
  </ol>
</div>

<script type="text/javascript">
  if (lsTest() === true) {
    for ( var i = 0, len = {{total_episodes | plus: 4}}; i < len; ++i ) {
      var storageExists = localStorage.getItem('episode-' + i);
      if (storageExists && storageExists == 'true') $('#episode-'+i).prop('checked','true')
    }
    $('input').click(function(e) {
      var val = $(this).val();
      var checked = $(this).is(':checked');
      localStorage.setItem(val, checked);
    })
  }

  function lsTest(){
    var test = 'test';
    try {
      localStorage.setItem(test, test);
      localStorage.removeItem(test);
      return true;
    } catch(e) {
      return false;
    }
  }
</script>
